<!DOCTYPE html>
<html lang="fr">
<!--Affichage de header-->
{%include "model/head.html"%}

<body>
<div class="w-50 mt-3 m-auto">
<!--    Début du formulaire-->
    <form action="/signup" method="post">
        <h1 class="h3 mb-3 fw-normal">Créer votre compte</h1>
        <div class="form-floating">
            <input type="email" class="form-control" name="addEmail" id="addEmail" placeholder="name@example.com">
            <label for="addEmail">Email address</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="password" class="form-control" name="addPassword" id="addPassword" placeholder="Password">
            <label for="addPassword">Password</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="password" class="form-control" name="addCheckPassword" id="addCheckPassword" placeholder="Password">
            <label for="addCheckPassword">Password</label>
        </div>

        <div>
            <p>
                {% if message %}
                {{ message }}
                {% endif %}
            </p>
            {% if loginOK %}
            <button type="button" class="w-50  btn btn-lg btn-success"><a href="/login" class="nav-link ">Se connecter ici</a></button>
            {% endif %}
        </div>
        {% if not loginOK %}
        <button class="w-50  btn btn-lg btn-primary" type="submit">Sign in</button>
        {% endif %}
    </form>
<!--    Fin du formulaire-->
</div>

</body>
<!--scripts-->
{% include "model/script.html"%}

<!--Affichage du footer-->
{% include "model/footer.html"%}

</html>